/* INTRO STYLE SHEET */

.nav_id{
    background: hsl(0, 0%, 83%);
    list-style:none;
    padding-top: 1%;
    height: 8%;
    width: 100%;
    padding-left: 31%;
    position: fixed;
    font-size: 28px;
    z-index: 1;
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
}

.nav_id li{
    background: hsl(0, 0%, 83%);
    display:inline;
    position: sticky;
    /* align-content: inherit;
    text-align: center; */
}

html, body{
    /* width: 100%; */
    scroll-behavior: smooth;
    height: 100%;
    /* min-width: 1000px; */
    min-width: 1600px;
    z-index: 900;
}

* {
    box-sizing: border-box;
}

.container_intro{
    /* width: 100%; */
    float: left;
    font-size: 18px;
    position:static;
    /* padding: 25px;      */
    z-index: 900;
}

.left{
    
    /* position: relative; */
    position:inherit;
    text-align: left;
    align-content: center;
    justify-content: center;
    padding-top: 5%;
    padding-left: 26%;
    width: 52%;
}

.right{
    position:inherit;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 8%;
    padding-left: 2%;
    width: 25%;
    /* position: relative; */
}

.intro:after{
    content: "";
    display: flex;
    clear: both;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* INTRO STYLE SHEET */

/* EXPERIENCE STYLE SHEET */

.experienceContainer{
    float: left;
    font-size: 18px;
}

.briefInt{
    font-size: 18px;
    width: 45%;
    position: relative;
    align-content: center;
    /* justify-content: center; */
    margin: auto;
    font: "Roboto"
}

.leftExp{
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 2%;
    padding-left: 23%;
    width: 47%;
    position:inherit;
}

.rightExp{
    /* padding-left: 10px; */
    justify-content: center;
    padding-left: 2%;
    position:inherit;
    width: 31%
}


/* EXPERIENCE STYLE SHEET */

/* PROJECT STYLE SHEET */

.leftPro{
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 2%;
    padding-left: 23%;
    width: 47%;
    position:inherit;
}

.rightPro{
    /* padding-left: 10px; */

    padding-left: 2%;
    position:inherit;
    width: 31%
}


/* PROJECT STYLE SHEET */

/* EDUCATION STYLE SHEET*/

.educationContainer{
    /* width: 100%; */
    float: left;
    font-size: 18px;
    position: relative;
}

.leftEdImage{
    text-align: left;
    align-content: center;
    justify-content: center;
    padding-left: 29%;
    padding-top: 4%;
    width: 40%;
    position:inherit;
    
}

.leftEdText{
    text-align: left;
    padding-top: 1%;
    padding-left: 25%;
    width: 50%;
    position:inherit;
}

.rightEdImage{
    padding-top: 1%;
    padding-left: 5%;
    width: 35%;
    position:inherit;
}

.rightEdText{
    /* padding-top: 10px; */
    padding-top: 1%;
    padding-left: 5%;
    width: 35%;
    position:inherit;
}




#hoverImg {
    height: 230px;
    width: 304px;
    background-image: url('images/porticoRGB.png');
}

#hoverImg:hover {
    height: 230px;
    width: 304px;
    background-image: url('images/porticoBW.png');
}

/* .container {
    margin-left: 5rem;
    margin-right: 5rem;
    width: 40%
  } */

/* EDUCATION STYLE SHEET*/
