/* INTRO STYLE SHEET
/* 
img {
    max-width: 100%;
    height: auto;
}

div {
/*   resize: horizontal; */
  /* overflow: auto;
}

body { 
    min-height: 100vh; 
    width: 100%;
} */  

img {
    max-width: 100%;
    height: auto;
    position: relative;
}

html, body{
    /* width: 100%; */
    height: 100%;
    min-width: 1000px;
}

* {
    box-sizing: border-box;
}

.container_intro{
    /* width: 100%; */
    float: left;
    background: hsl(0, 0%, 100%);
    font-size: 18px;
    /* padding: 25px;      */
}

.left{
    position: relative;
    text-align: left;
    align-content: center;
    justify-content: center;
    padding-top: 5%;
    padding-left: 25%;
    width: 50%;
}

.right{
    position: relative;
    padding-top: 10%;
    padding-left: 5%;
    width: 40%
}

.intro:after{
    content: "";
    display: flex;
    clear: both;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* INTRO STYLE SHEET */

/* EXPERIENCE STYLE SHEET */

.experienceContainer{
    /* width: 100%; */
    float: left;
    font-size: 18px;
/*     font-size: 10vw; */
    /* padding: 25px;      */
}

.briefInt{
    font-size: 18px;
    width: 50%;
    position: relative;
    align-content: center;
    /* justify-content: center; */
    margin: auto;
    font: "Roboto"
}

.leftExp{
    text-align: center;
    align-content: center;
    justify-content: center;
    /* padding-top: 50px;
    padding-left: 255px;
    width: 45%; */
    padding-top: 1%;
    padding-left: 25%;
    width: 40%;
    position: relative;
}

.rightExp{
    /* padding-left: 10px; */
    padding-left: 8%;
    position: relative;
    width: 35%
}



/* EXPERIENCE STYLE SHEET */

/* EDUCATION STYLE SHEET*/

.educationContainer{
    /* width: 100%; */
    float: left;
    font-size: 18px;
}

.leftEdImage{
    text-align: left;
    align-content: center;
    justify-content: center;
    padding-top: 3%;
    padding-left: 25%;
    width: 40%;
    
}

.leftEdText{
    text-align: left;
    padding-top: 1%;
    padding-left: 25%;
    width: 50%;
}

.rightEdImage{
    padding-top: 10px;
    padding-left: 10px;
    width: 40%
}

.rightEdText{
    /* padding-top: 10px; */
    padding-top: 1%;
    /* padding-left:; */
    width: 40%
}

/* .container {
    margin-left: 5rem;
    margin-right: 5rem;
    width: 40%
  } */

/* EDUCATION STYLE SHEET*/
